@media screen and (min-width:375px) and (max-width:675px) {
    .container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        gap: 10px;
    }
    .labelAllMovies{
        width: 90%;
        font-size: 20px;
        text-align: start;
        font-family: Popin,sans-serif;
        /* margin-left: 30px; */
    }
    .gridContainer{
        display: grid;
        grid-template-columns: repeat(2,auto);
        justify-content: center;
        margin: auto;
        gap: 10px;
        /* border: 1px solid blue; */
    }
    
}