@media screen and (min-width:375px) and (max-width:675px) {
    .container{
        display: flex;
        /* border: 1px solid brown; */
        flex-direction: column;
        gap: 10px;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }
    .browserContainer{
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 30px;
        width: 100%;
        margin-top: -20px;
        /* padding: 4px 15px; */
    }
    .label{
        font-size: 16px;
        font-family: Popin,sans-serif;
        font-weight: 700;

    }
    button{
        border: none;
        background: none;
    }
    .latestMovieLabel{
        width: 90%;
        font-size: 20px;
        font-family: Popin,sans-serif;
        font-weight: 700;
        /* text-align: start; */
        padding: 4px 8px;
        /* margin-left: 40px; */
        /* border: 1px solid red; */
    }
    .popularMovieLabel{
        width: 90%;
            font-size: 20px;
            font-family: Popin, sans-serif;
            font-weight: 700;
            margin-top: -10px;
            padding: 4px 8px;
    }
}